<!--Dzina Butko ID 301215947  Assignment Date  08/02/2021 -->

<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>


  <!-- Main Content -->
  <main class="container">
    <div class="row">
        <div class="offset-md-1 col-md-8">
            <h1><%= title %></h1>
            <br>
            <table class="table table-bordered table-striped table-hover">
                <!-- Header Row-->
                <tr class="d-flex">
                    <th class="text-center col-2">Name</th>
                    <th class="text-center col-2">Phone</th>
                    <th class="text-center col-2">Email</th>
                    
                </tr>

                <!-- Repeatable Template Row -->

                <% for(let count = 0; count < ContactList.length; count++) { %>
                    <tr class="d-flex">
                        <td class="text-center col-2"><%= ContactList[count].name %></td>
                        <td class="text-center col-2"><%= ContactList[count].number %></td>
                        <td class="text-center col-2"><%= ContactList[count].email %></td>
                        
                    </tr>
                <% } %>
            </table>
        </div>
    </div>
  </main>



